$color-primary: cornSilk;
$color-secondary: goldenRod;
$color-tertiary: cornSilk;
$color-landing: darkSlateGray;
$spacing: 1em;
$edges: 10px;

* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  color: $color-secondary;
  background-color: $color-primary;
  font-size: 1em;
  font-family: Helvetica;
  margin-left: 40px;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

h1 {
  text-align: center;
}

h2 {
  list-style: none;
  font-size: 15px;
  color: $color-landing;
}

a, a:visited {
  text-decoration: none;
  color: $color-secondary;
}

a:hover {
  background-color: $color-tertiary;
  color: $color-primary;
}

button, input {
  background-color: $color-tertiary;
  border: none;
  color: $color-landing;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  border-radius: $edges;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  margin-bottom: 10px;
}

button:hover {
  color: $color-tertiary;
  background-color: $color-landing;
}

.new-item, .update-category {
  background-color: goldenRod;  
  padding: 10px;
  border-radius: $edges;
  border: 2px solid black;
  width: 20%;
  margin: 0;
  float: left;
  height: 170px;
}



.category-item {
  background-color: rgb(241, 127, 162);
  padding: 20px;
  border-radius: $edges;
  height: 200px;
  margin: 10px;
  margin-right: 0;
}

form {
  background-color: $color-landing;
  padding: 40px 20px;
  border-radius: $edges;
  color: $color-landing;
  border: 2px solid $color-secondary;
  margin: 20px;
  overflow-wrap: break-word;
}

// .delete-button {
//   float: left;
// }

.create-category>button, input {
  width: 100%;
}

.expense-form {
  margin-left: 20px;

}