// $color-primary: indianRed;
$color-secondary: goldenRod;
$color-primary: rgb(32, 218, 156);
$color-tertiary: cornSilk;
$color-landing: darkSlateGray;
$spacing: 1em;
$edges: 10px;

* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  color: $color-secondary;
  background-color: $color-primary;
  font-size: 1em;
  font-family: Helvetica;
  margin-left: 40px;
}

nav {
  background-color: $color-tertiary;
  border-radius: $edges;
  text-align: center;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

h1 {
  background-color: $color-landing;
  border-radius: $edges;
  padding: 10px 5px;
  text-align: center;
}

h2 {
  list-style: none;
  font-size: 15px;
  color: $color-landing;
}

img {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

img:hover {
  background-color: $color-tertiary;
}

a, a:visited {
  text-decoration: none;
  color: $color-secondary;
}

a:hover {
  background-color: $color-tertiary;
  color: $color-primary;
}


button, input, textarea {
  background-color: $color-tertiary;
  border: none;
  color: $color-primary;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  border-radius: $edges;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  margin-bottom: 10px;
}

button:hover {
  color: $color-tertiary;
  background-color: $color-landing;
}

.landing {
  background-color: $color-tertiary;
  padding: 10px;
  border-radius: $edges;
  color: $color-landing;
}

.note-form, .new-item {
  background-Color: goldenRod;
  padding: 20px 10px;
  border-radius: $edges;
}

.note-item, form {
  background-color: $color-landing;
  padding: 40px 20px;
  border-radius: $edges;
  color: $color-landing;
  border: 2px solid $color-secondary;
  margin: 20px;
  overflow-wrap: break-word;
}

.delete-button {
  float: left;
}

.github {
  text-align: center;
}