$primary: #FF622F;
$secondary: #B22E04;

body {
  background-color: $primary;
  font-family: helvetica;
}

form {
  background-color: $secondary;
  border-radius: 5px;
  width: 300px;
  height: 118px;
  margin: auto;
  padding: 5px;
}

input {
  width: 100%;
  padding: 7px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.category-item {
  border-radius: 5px;
  margin: auto;
  width: 308px;
}

.deleteButton {
  color: black;
  background-color: red;
  border-color: red;
  border-radius: 3px;
  margin-bottom: 2px;
  margin-left: 2px;
}

.submitButton {
  margin-top: 20px;
}

h2 {
  text-align: center;
}
